jupyterlab>=4.2,<5
joblib>=1.4,<2
matplotlib>=3.8,<4
natsort>=8.4,<9
numba>=0.60,<1
numpy>=1.26,<3
pandas>=2.2,<3
plotly>=5.24,<7
scikit-learn>=1.5,<2
scipy>=1.13,<2
seaborn>=0.13,<1
tensorflow>=2.17,<3
